# Backend Port
PORT=3001

# Mongodb URI
MONGODB_URI=mongodb://localhost:27017/boomerang

# JWT Secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Client URL
CLIENT_URL=http://localhost:5173
